header {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  transition: background .2s ease, box-shadow .2s ease;
  background: #fff;
  box-shadow: 0 1px 0 #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 650px) {
    height: 70px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    &--left {
      display: flex;
      align-items: center;
      flex: 1 1;
      margin-right: 50px;

      @media screen and (max-width: 650px) {
        margin-right: 10px;
      }
    }

    &--right {
      display: flex;
      align-items: center;
    }

    &--logo {
      margin-right: 1rem;
      @media screen and (max-width: 650px) {
        margin-right: 10px;
      }

      a {
        display: flex;

        img {
          width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
    }

    &--search {
      width: 100%;
      position: relative;

      form {
        width: 100%;
        position: relative;

        input[type='search'] {
          padding: 15px 4px 15px 20px;
          color: #7f7f7f;
          border-radius: 8px 0 0 8px;
          border: 1px solid #f7f7f7;
          background: #f7f7f7;
          font-weight: 600;
          width: calc(100% - 50px);

          @media screen and (max-width: 650px) {
            padding: 7px 4px 7px 20px;
          }

          &:focus, &:focus-visible {
            border: 1px solid #dfdfe0;
            background: #fff;
            outline: none;
            border-radius: 8px 0 0 0;
          }

          &::-webkit-search-cancel-button {
            display: none;
          }

          &::placeholder {
            font-weight: 600;
          }
        }
      }

      &__button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border-radius: 0 8px 8px 0;
        border: none;
        background: #f7f7f7;
        width: 50px;
        cursor: pointer;

        i {
          font-size: 25px;
          transform: rotateY(180deg);
        }
      }

      &__button--focus {
        background: #fff;
        border: 1px solid #dfdfe0;
      }

      &__box {
        display: none;
        padding: 30px 20px;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        overflow: auto;
        width: 100%;
        min-height: 50px;
        max-height: calc(100vh - 80px);
        border: 1px solid #dfdfe0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow: 0 8px 15px #0000000A;
        background: #fff;

        @media screen and (max-width: 1325px) {
          width: 100vw;
          height: max-content;
          left: 0;
          position: fixed;
          top: 80px;
        }

        .box--cat {
          h4 {
            color: #2c343e;
            font-size: 21px;
            line-height: 33px;
            letter-spacing: -.015em;
            font-weight: 700;
          }

          &__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            > span {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 15px 15px 0;
              font-weight: 500;
              border-color: #bfbfbf;

              &:hover {
                border-color: #7f7f7f;
              }

              i {
                transform: rotateY(180deg);
                margin-left: 8px;
              }

              > figure {
                overflow: hidden;
                width: 34px;
                min-width: 34px;
                height: 34px;
                min-height: 34px;
                margin-right: 8px;
                border-radius: 50%;
                background: #bfbfbf;
                margin-bottom: 0;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .group--image {
                display: grid;
                overflow: hidden;
                width: 70px;
                min-width: 70px;
                height: 70px;
                min-height: 70px;
                border-radius: 15px;
                grid-gap: 2px;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "img1 img1" "img2 img3";

                figure {
                  overflow: hidden;
                  margin: 0;

                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                .i-1 {
                  grid-area: img1;
                }

                .i-2 {
                  grid-area: img2;
                }

                .i-3 {
                  grid-area: img3;
                }
              }

              .group--text {
                width: calc(100% - 70px);
                padding-left: 15px;

                &__title {
                  width: 100%;
                  overflow: hidden;
                  max-width: 100%;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  font-size: 16px !important;
                  color: #2c343e !important;
                  display: block;
                }

                span {
                  font-size: 14px;
                  color: #7f7f7f;
                  letter-spacing: -.015em;
                }
              }
            }
          }

          .box-grid {
            > span {
              cursor: pointer;
              @media screen and (min-width: 901px) {
                max-width: calc((100% / 4) - 15px);
              }

              &:hover {
                .group--image {
                  filter: brightness(0.5);
                }
              }
            }
          }
        }
      }
    }

    &--menu {
      ul {
        display: flex;
        align-items: center;
        margin-right: 15px;
        margin-bottom: 0;
        padding-left: 0;

        li {
          list-style: none;
          position: relative;
          cursor: pointer;
          transition: all .3s;

          a {
            font-weight: 500;
            color: rgb(74, 74, 74);
            font-size: 1rem;
            margin-right: 15px;
            text-decoration: none;
          }

          &:hover {
            .submenu {
              display: block;
            }
          }

          .submenu {
            position: absolute;
            overflow: auto;
            min-width: 170px;
            max-height: max-content;
            width: max-content;
            cursor: default;
            border: solid 1px hsla(0, 0%, 100%, .2);
            border-radius: 10px;
            background: #fff;
            box-shadow: 0 13px 26px #00000014;
            text-shadow: none;
            right: -10px;
            top: 100%;
            padding: 8px 0;
            display: none;

            ul {
              display: block;
              margin-right: 0;
              border-bottom: solid 1px #dfdfe0;

              &:last-of-type {
                border-bottom: none;
              }

              li {
                display: flex;
                transition: all 0.3s;
                align-items: center;
                justify-content: flex-start;

                img {
                  width: 20px;
                  object-fit: contain;
                  border-radius: 5px;
                }

                a {
                  padding: 8px 8px 8px 20px;
                  margin-right: 0;
                  display: block;
                  font-size: 12px;
                }

                &:hover {
                  background: #f7f7f7;

                  img {
                    filter: brightness(0.7);
                  }
                }
              }
            }
          }
        }
      }

      &__button {
        color: #fff;
        background: #05a081;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        position: relative;
        width: -moz-max-content;
        width: max-content;
        max-width: 100%;
        height: 50px;
        cursor: pointer;
        transition: background-color .1s, border ease-in-out, transform .1s, box-shadow 5ms, border-color .25s;
        vertical-align: top;
        white-space: nowrap;
        letter-spacing: -.015em;
        border: 1px solid;
        border-radius: 6px;
        outline: none;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: center;
      }
    }

    .mb {
      ul {
        .la-bars, .la-times {
          font-size: 30px;
        }
      }

      .submenu {
        display: block;
        width: 100vw;
        position: fixed;
        left: 0;
        top: -100vh;
        border-radius: 0;
        height: 100vh;
        overflow-y: scroll;
      }
    }
  }
}

.popup--flag {
  z-index: 999;
  max-width: 600px;
  position: fixed;
  margin: 20px 0;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: none;

  & > div {
    background: #fff;
    border-radius: 10px;
    padding: 3.6rem;
  }

  h4 {
    font-weight: 600;
    font-size: 21px;
    line-height: 33px;
    letter-spacing: -.015em;
    padding-bottom: 1rem;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
      color: #000;
      background: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      position: relative;
      z-index: 0;
      box-sizing: border-box;
      width: -moz-max-content;
      width: max-content;
      max-width: 100%;
      height: 50px;
      cursor: pointer;
      transition: background-color .1s, border ease-in-out, transform .1s, box-shadow 5ms, border-color .25s;
      vertical-align: top;
      white-space: nowrap;
      text-decoration: none;
      letter-spacing: -.015em;
      border: 1px solid #dfdfe0;
      border-radius: 6px;
      padding: 0 30px 0 8px;
      outline: none;
      background: 0 0;
      margin: 0 8px 8px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #000;
        border-color: #7f7f7f;
      }

      img {
        overflow: hidden;
        width: 34px;
        min-width: 34px;
        height: 34px;
        min-height: 34px;
        margin-right: 8px;
        border-radius: 50%;
        background: #bfbfbf;
      }
    }

    .active {
      color: #bfbfbf;
      border-color: #f7f7f7;
      background: #f7f7f7;
      cursor: no-drop;
    }
  }
}

.cat {
  padding: 8px 0;
  margin: 15px 0;

  a {
    color: #000;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    z-index: 0;
    box-sizing: border-box;
    width: max-content;
    max-width: 100%;
    height: 50px;
    padding: 0 30px;
    cursor: pointer;
    transition: background-color .1s, border ease-in-out, transform .1s, box-shadow 5ms, border-color .25s;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: -.015em;
    border: 1px solid #dfdfe0;
    border-radius: 6px;
    outline: none;
    background: 0 0;
    margin-right: 8px;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #000;
      border-color: #ffc864;
      background-color: #ffc864;
    }
  }
}

.content {
  margin-top: 95px;
  overflow: hidden;

  &--top {
    &__main {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      @media screen and (max-width: 900px) {
        flex-direction: column;
      }

      &--tab {
        width: calc(90% - 8px);
        @media screen and (max-width: 900px) {
          width: 100%;
        }

        .list-tab {
          a {
            color: #4a4a4a;
            transition: color .25s ease;
            text-decoration: none;
            font-size: 16px;
            padding: 0 10px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 650px) {
              height: 40px;
            }

            span {
              font-size: 1rem;
              display: inline-block;
              margin-bottom: -1px;
              margin-left: 8px;
              color: #bfbfbf;
            }
          }

          a.active {
            padding: 0 20px;
            color: #fff;
            border: 1px solid transparent;
            background: #000;
            border-radius: 30px;
          }
        }
      }

      &--filter {
        width: 10%;
        text-align: right;
        @media screen and (max-width: 900px) {
          width: 100%;
          margin-top: 20px;
        }

        button {
          color: #4a4a4a;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          padding: 1px 20px;

          @media screen and (max-width: 900px) {
            width: 100%;
          }

          svg {
            margin-right: 10px;
          }
        }

      }

      .form--filter {
        width: 100%;
        margin-top: 30px;
        display: none;

        &__item {
          position: relative;

          button {
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            line-height: 1;
            z-index: 0;
            height: 50px;
            cursor: pointer;
            transition: background-color .1s, border ease-in-out, transform .1s, box-shadow 5ms, border-color .25s;
            vertical-align: top;
            white-space: nowrap;
            text-decoration: none;
            letter-spacing: -.015em;
            border: 1px solid;
            border-radius: 6px;
            outline: none;
            background: 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
          }

          .dropdown {
            position: absolute;
            margin-top: 10px;
            z-index: 9;
            display: none;
            overflow: auto;
            min-width: 300px;
            width: 100%;
            max-height: 50vh;
            border: 1px solid #dfdfe0;
            border-radius: 6px;
            background: #fff;
            box-shadow: 0 3px 5px 1px #0000000C;
            padding: 0;

            li {
              font-weight: 500;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              height: 50px;
              cursor: pointer;
              text-align: left;
              white-space: nowrap;
              color: #4a4a4a;
              background: #fff;
              transition: linear 1s;
              padding: 0 20px;
              position: relative;

              &::after {
                position: absolute;
                content: "";
                width: 95%;
                height: 1px;
                background: #f7f7f7;
                left: 2.5%;
                bottom: 0;
              }

              &:hover {
                background: #bfbfbf;
              }
            }
          }
        }
      }
    }
  }

  &--bottom {
    margin-top: 30px;
    position: relative;

    .are-images-unloaded {
      opacity: 1;
    }

    .grid__item, .grid__col-sizer {
      width: 32%;

      @media screen and (max-width: 901px) {
        width: 49%;
      }
    }

    .grid__gutter-sizer {
      width: 2%;
    }

    .are-images-unloaded .image-grid__item {
      opacity: 0;
    }

    .grid__item {
      margin-bottom: 20px;
      float: left;
      cursor: pointer;
      position: relative;

      @media screen and (max-width: 901px) {
        margin-bottom: 10px;
      }

      &:hover {
        &::after {
          content: "";
          background: #0000003b;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 0;
        }

        .group--button {
          display: flex;
        }
      }

      img {
        display: block;
        width: 100%;
        transition: all .3s;
      }

      .group--button {
        transition: all .3s;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        flex-direction: column;
        justify-content: space-between;

        > div > span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          pointer-events: all;
          border: 0;
          border-radius: 10px;
          float: left;
          margin-left: 10px;
          background: #fff;
        }

        &__top {
          display: flex;
          align-items: center;
          justify-content: end;
          padding: 15px 15px 0 0;
        }

        &__bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px;
          position: absolute;
          bottom: 0;
          width: 100%;

          .info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;

            &:hover {
              .info--popup {
                display: block;
              }
            }

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 8px;
            }

            span {
              font-weight: 700;
              font-size: 16px;
              color: #fff;
            }

            .triangle {
              margin-top: -3px;
              top: 100%;
              transform: scaleY(-1);
              left: 20px;
              right: auto;
              border-right: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-style: solid;
              border-width: 10px 10px 15px 15px;
              height: 0;
              width: 0;
              color: #fff;
            }

            &--popup {
              position: absolute;
              z-index: 0;
              top: 100%;
              right: 0;
              bottom: 100%;
              left: 30px;
              transform: scale(1.1);
              width: fit-content;
              display: none;
              transition: all .3s;
              height: 100%;

              @media screen and(max-width: 650px) {
                width: calc(100vw - 30px);
                left: 15px;
              }

              &__content {
                margin-left: -20px;
                margin-top: -10px;
                padding: 15px;
                background: #fff;
                z-index: 0;
                overflow: auto;
                min-width: 170px;
                max-height: calc(100vh - 80px);
                cursor: default;
                border: 1px solid #dfdfe0;
                border-radius: 10px;
                box-shadow: 0 13px 26px #00000014;
                text-shadow: none;

                @media screen and(max-width: 650px) {
                  width: 100%;
                }

                .top {
                  .flex-between-center > div {
                    &:first-of-type {
                      width: 75%;

                      .text {
                        text-decoration: none;
                        overflow: hidden;

                        h4 {
                          color: #4a4a4a;
                          margin-bottom: 0;
                        }

                        p {
                          display: block;
                          display: -webkit-box;
                          max-width: 100%;
                          height: 20px;
                          margin: 0 auto;
                          font-size: 12px;
                          -webkit-line-clamp: 1;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        }
                      }
                    }

                    &:last-of-type {
                      width: 25%;

                      button {
                        width: 100%;
                        height: 50px;

                        span {
                          color: #4a4a4a;
                          padding-left: 5px;
                        }
                      }
                    }
                  }
                }

                .bottom {
                  margin-top: 15px;

                  figure {
                    width: 32%;
                    height: 90px;
                    transition: all .2s;

                    &:hover {
                      filter: brightness(.5);
                    }

                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      border-radius: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }


    .page-load-status {
      display: none;
      padding-top: 20px;
      border-top: 1px solid #DDD;
      text-align: center;
      color: #777;
    }
  }

}

.popup--detail {
  z-index: 100;

  &__content {
    position: relative;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: calc(100vw - 300px);
    margin: 20px auto;
    padding: 30px;
    z-index: 19;

    @media screen and (max-width: 900px) {
      max-width: calc(100vw - 135px);
    }
    @media screen and (max-width: 650px) {
      max-width: 100%;
      padding: 15px;
      margin-top: 50px;
    }

    .slide-arrow {
      width: 50px;
      height: 50px;
      top: 50vh;
      background: none;

      i {
        color: #ffffff;
        font-size: 36px;
      }
    }

    .prev-arrow {
      left: -100px;

      @media screen and (max-width: 650px) {
        left: 0;
      }
    }

    .next-arrow {
      right: -100px;

      @media screen and (max-width: 650px) {
        right: 0;
      }
    }

    .btn {
      height: 50px;
      margin-left: 8px;
    }

    .b-top {
      .avatar {
        width: max-content;

        figure {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          margin: 0;

          img {
            width: 100%;
            height: 100%;
          }
        }

        &--text {
          padding: 0 15px;

          p {
            color: #2c343e;
            font-size: 18px;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: 0;
          }

          a {
            color: #7f7f7f;
            font-weight: 600;
            font-size: 16px;
            text-decoration: none;
          }
        }
      }

      .group--btn {
        width: 100%;
        text-align: right;

        @media screen and (max-width: 900px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .download {
          height: 50px;
          margin-left: 8px;
          color: #fff;
          width: max-content;
          background: #05a081;
          cursor: pointer;
          transition: background-color 0.1s, border ease-in-out, transform 0.1s, box-shadow 5ms, border-color 0.25s;
          vertical-align: top;
          white-space: nowrap;
          text-decoration: none;
          letter-spacing: -0.015em;
          border: 1px solid #dfdfe0;
          border-radius: 6px;
          outline: none;

          span {
            border-color: #05a081;
            background: #05a081;
            padding: 0.75rem 0.375rem;
            color: #fff;
            height: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            transition: background-color 0.1s, border ease-in-out, transform 0.1s;

            &:hover {
              background: #067f66;
            }

            i {
              color: #fff;
            }
          }
        }

        .btn {
          @media screen and (max-width: 900px) {
            min-width: 50px;
            margin-left: 0;
            margin-right: 8px;
          }

          span {

            &:last-of-type {
              @media screen and (max-width: 900px) {
                display: none;
                width: 50px;
              }
            }
          }
        }
      }
    }

    .b-main {
      text-align: center;
      margin: 2rem 0;

      figure {
        max-width: 100%;
        width: fit-content;
        position: relative;
        margin: 0 auto;

        img {
          max-width: 100%;
          object-fit: contain;
          width: auto;
        }
      }

      .pinterest {
        position: absolute;
        border: none;
        top: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
        padding: 8px;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 4px 10px 2px #00000019;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          color: #e60023;
        }
      }
    }

    .b-bottom {

      .btn {
        @media screen and (max-width: 650px) {
          height: auto;
        }
      }

      p {
        margin-bottom: 0;

        @media screen and (max-width: 650px) {
          width: 100%;
          word-break: keep-all;
          height: 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        i {
          margin-right: 0;
        }
      }

      a {
        text-decoration: none;

        span {
          @media screen and (max-width: 650px) {
            display: none;
          }
        }

        i {
          margin-right: 0;
          @media screen and (max-width: 650px) {
            padding-right: 0;
          }
        }
      }
    }

    .b-more {
      margin-top: 30px;

      .grid2.are-images-unloaded2 {
        opacity: 0;
      }

      .grid__item,
      .grid__col-sizer2 {
        width: 32%;
      }

      .grid__gutter-sizer2 { width: 2%; }

      /* hide by default */
      .grid2.are-images-unloaded2 .image-grid__item {
        opacity: 0;
      }

      .grid__item {
        margin-bottom: 20px;
        float: left;
      }

      .grid__item img {
        display: block;
        max-width: 100%;
      }


      .page-load-status2 {
        display: none;
        padding-top: 20px;
        border-top: 1px solid #DDD;
        text-align: center;
        color: #777;
      }


      .content {
        margin-top: 0;
        overflow: hidden;

        .slide-arrow {
          border: none;
          background: linear-gradient(90deg, #fff 0, hsla(0, 0%, 100%, 0));
          position: absolute;
          width: 25px;
          height: 100%;
          z-index: 9;
          top: 0;
        }

        .prev-arrow {
          left: 0;
        }

        .next-arrow {
          right: 0;
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: 650px) {
      top: -50px;
      left: 0;
    }

    span {
      i {
        font-size: 26px;
        color: #fff;
      }
    }
  }
}

.popup--collect {
  z-index: 101;
  padding: 7.5px;

  &__content {
    position: relative;
    top: 0;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    max-width: 600px;
    padding: 30px;
    margin: 8px auto;
    text-align: center;

    h2 {
      font-size: 2.2rem;
    }

    p {
      a {
        border-bottom: 2px dotted #c7c7c7;
        color: #c7c7c7;
        text-decoration: none;
      }
    }

    .album {
      cursor: pointer;

      &--image {
        background: #f7f7f7;
        position: relative;
        cursor: pointer;
        border-radius: 10px;
        overflow: hidden;

        &:hover {
          i {
            display: block;
            z-index: 1;
            color: #fff;
            border-color: #fff;
          }

          img {
            transform: scale(1.1);
            filter: brightness(0.5);
          }
        }

        i {
          position: absolute;
          font-size: 25px;
          color: #7f7f7f;
          border: solid 2px #7f7f7f;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          display: none;
          transform: translate(-50%, -50%);
          transition: all .3s;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
          transition: all .5s;
        }
      }

      p {
        margin-top: 8px;
        font-size: 15px;
        color: #4a4a4a;
        font-weight: 500;
        height: fit-content;
        display: -webkit-box;;
        line-height: 1;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .album.create {
      i {
        display: block;
      }
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    i {
      color: #bfbfbf;
      font-size: 25px;
    }
  }
}

footer {
  padding: 80px 30px 30px;
  background: #000;
  color: #fff;

  @media screen and (max-width: 769px) {
    padding: 30px 15px;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 23px;
    letter-spacing: -.015em;
    font-weight: 500;
    color: #fff;
  }

  p {
    font-size: 16px;
    color: #bfbfbf;
    margin-bottom: 0;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;

      a {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        font-size: 21px;
        letter-spacing: -.015em;
        cursor: pointer;
        transition: all .3s;

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .group--app {
    margin-top: 1rem;

    .btn {
      padding: 1rem 1.7rem;
      background: #fff;
      border: solid 1px #dfdfe0;
      margin: 0 5px;

      i {
        font-size: 18px;
      }
    }
  }

  .social {
    margin-top: 15px;

    a {
      display: inline-block;
      margin: 0 5px;

      i {
        font-size: 27px;
        color: #fff;
      }
    }
  }

  .group--cate {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
      transition: filter .25s ease;
      cursor: pointer;
      margin: 0 8px 8px 0;
      display: inline-block;
      padding: 8px 15px;
      border: 1px solid #dfdfe0;
      border-radius: 6px;
      color: #dfdfe0;

      &:hover {
        background: #dfdfe0;
        color: #000;
      }
    }
  }

  .footer--bottom {
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 769px) {
      margin-top: 40px;
    }

    .btn {
      font-size: 18px;
      height: 40px;
      padding: 8px 15px;
      color: #fff;
      background: #7f7f7f;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 auto;
      border: none;

      @media screen and (max-width: 769px) {
        margin: 10px auto;
      }

      i {
        font-size: 28px;
        color: #fff;
        margin-right: 5px;
      }
    }

    a {
      color: #bfbfbf;
      text-decoration: none;
      display: inline-flex;
      margin: 0 8px;
    }
  }
}
