* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #4a4a4a;
  font-size: 14px; }
  @media screen and (max-width: 650px) {
    * {
      font-size: 100%; } }

html, body {
  overflow-x: hidden; }

body {
  position: relative; }

.container {
  margin: 0 auto;
  max-width: 900px; }
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1600px;
      padding-right: 30px;
      padding-left: 30px; } }
  @media screen and (min-width: 901px) {
    .container {
      max-width: 1300px;
      padding-right: 30px;
      padding-left: 30px; } }

@media screen and (min-width: 1440px) {
  .content .container {
    padding-left: 80px;
    padding-right: 80px; } }

.overlay {
  position: fixed;
  z-index: 98;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  display: none; }

.btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  cursor: pointer;
  transition: background-color .1s, border ease-in-out, transform .1s, box-shadow 5ms, border-color .25s;
  vertical-align: top;
  text-decoration: none;
  letter-spacing: -.015em;
  border: 1px solid #dfdfe0;
  border-radius: 6px;
  outline: none; }
  .btn:hover {
    border: 1px solid #4a4a4a; }

.pr-1 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 0.5rem; }

.h-100 {
  height: 100%; }

.slide-arrow {
  border: none;
  background: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0));
  position: absolute;
  width: 25px;
  height: 100%;
  z-index: 9;
  top: 0; }

.prev-arrow {
  left: 0; }

.next-arrow {
  right: 0; }

.close {
  display: none; }

.open-menu-mb {
  top: 70px !important; }

.check-menu-mb {
  background: #000; }
  .check-menu-mb .header .bars-mb .submenu {
    background: #000; }
    .check-menu-mb .header .bars-mb .submenu ul {
      border-bottom: solid 1px rgba(255, 255, 255, 0.2); }
      .check-menu-mb .header .bars-mb .submenu ul li a {
        color: #ffffff; }

.select {
  background: #ededed; }

@media screen and (min-width: 901px) {
  .mb {
    display: none; } }

.pc {
  display: none; }
  @media screen and (min-width: 901px) {
    .pc {
      display: block; } }

.flex-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-start-center {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.flex-end-center {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 650px) {
  .flex-column-mb {
    flex-direction: column; } }

@media screen and (max-width: 650px) {
  .align-start-mb {
    align-items: start; } }

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #7f7f7f;
  display: block;
  margin: 0 5px; }

.text-gray-small {
  font-size: 14px;
  color: #7f7f7f;
  font-weight: bolder;
  margin-right: 15px;
  display: inline-block; }

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.popup--container {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9); }

.page-load-status .loader-ellips, .page-load-status2 .loader-ellips {
  font-size: 20px;
  /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto; }
.page-load-status .loader-ellips__dot, .page-load-status2 .loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555;
  /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite; }
.page-load-status .loader-ellips__dot:nth-child(1),
.page-load-status .loader-ellips__dot:nth-child(2), .page-load-status2 .loader-ellips__dot:nth-child(1),
.page-load-status2 .loader-ellips__dot:nth-child(2) {
  left: 0; }
.page-load-status .loader-ellips__dot:nth-child(3), .page-load-status2 .loader-ellips__dot:nth-child(3) {
  left: 1.5em; }
.page-load-status .loader-ellips__dot:nth-child(4), .page-load-status2 .loader-ellips__dot:nth-child(4) {
  left: 3em; }
@keyframes reveal {
  from {
    transform: scale(0.001); }
  to {
    transform: scale(1); } }
@keyframes slide {
  to {
    transform: translateX(1.5em); } }
.page-load-status .loader-ellips__dot:nth-child(1), .page-load-status2 .loader-ellips__dot:nth-child(1) {
  animation-name: reveal; }
.page-load-status .loader-ellips__dot:nth-child(2),
.page-load-status .loader-ellips__dot:nth-child(3), .page-load-status2 .loader-ellips__dot:nth-child(2),
.page-load-status2 .loader-ellips__dot:nth-child(3) {
  animation-name: slide; }
.page-load-status .loader-ellips__dot:nth-child(4), .page-load-status2 .loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse; }

header {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  transition: background .2s ease, box-shadow .2s ease;
  background: #fff;
  box-shadow: 0 1px 0 #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 650px) {
    header {
      height: 70px; } }
  header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
    header .header--left {
      display: flex;
      align-items: center;
      flex: 1 1;
      margin-right: 50px; }
      @media screen and (max-width: 650px) {
        header .header--left {
          margin-right: 10px; } }
    header .header--right {
      display: flex;
      align-items: center; }
    header .header--logo {
      margin-right: 1rem; }
      @media screen and (max-width: 650px) {
        header .header--logo {
          margin-right: 10px; } }
      header .header--logo a {
        display: flex; }
        header .header--logo a img {
          width: 100%;
          max-height: 100%;
          object-fit: contain; }
    header .header--search {
      width: 100%;
      position: relative; }
      header .header--search form {
        width: 100%;
        position: relative; }
        header .header--search form input[type='search'] {
          padding: 15px 4px 15px 20px;
          color: #7f7f7f;
          border-radius: 8px 0 0 8px;
          border: 1px solid #f7f7f7;
          background: #f7f7f7;
          font-weight: 600;
          width: calc(100% - 50px); }
          @media screen and (max-width: 650px) {
            header .header--search form input[type='search'] {
              padding: 7px 4px 7px 20px; } }
          header .header--search form input[type='search']:focus, header .header--search form input[type='search']:focus-visible {
            border: 1px solid #dfdfe0;
            background: #fff;
            outline: none;
            border-radius: 8px 0 0 0; }
          header .header--search form input[type='search']::-webkit-search-cancel-button {
            display: none; }
          header .header--search form input[type='search']::placeholder {
            font-weight: 600; }
      header .header--search__button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border-radius: 0 8px 8px 0;
        border: none;
        background: #f7f7f7;
        width: 50px;
        cursor: pointer; }
        header .header--search__button i {
          font-size: 25px;
          transform: rotateY(180deg); }
      header .header--search__button--focus {
        background: #fff;
        border: 1px solid #dfdfe0; }
      header .header--search__box {
        display: none;
        padding: 30px 20px;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        overflow: auto;
        width: 100%;
        min-height: 50px;
        max-height: calc(100vh - 80px);
        border: 1px solid #dfdfe0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow: 0 8px 15px #0000000A;
        background: #fff; }
        @media screen and (max-width: 1325px) {
          header .header--search__box {
            width: 100vw;
            height: max-content;
            left: 0;
            position: fixed;
            top: 80px; } }
        header .header--search__box .box--cat h4 {
          color: #2c343e;
          font-size: 21px;
          line-height: 33px;
          letter-spacing: -.015em;
          font-weight: 700; }
        header .header--search__box .box--cat__item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap; }
          header .header--search__box .box--cat__item > span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 15px 15px 0;
            font-weight: 500;
            border-color: #bfbfbf; }
            header .header--search__box .box--cat__item > span:hover {
              border-color: #7f7f7f; }
            header .header--search__box .box--cat__item > span i {
              transform: rotateY(180deg);
              margin-left: 8px; }
            header .header--search__box .box--cat__item > span > figure {
              overflow: hidden;
              width: 34px;
              min-width: 34px;
              height: 34px;
              min-height: 34px;
              margin-right: 8px;
              border-radius: 50%;
              background: #bfbfbf;
              margin-bottom: 0; }
              header .header--search__box .box--cat__item > span > figure img {
                width: 100%;
                height: 100%; }
            header .header--search__box .box--cat__item > span .group--image {
              display: grid;
              overflow: hidden;
              width: 70px;
              min-width: 70px;
              height: 70px;
              min-height: 70px;
              border-radius: 15px;
              grid-gap: 2px;
              grid-template-columns: 1fr 1fr;
              grid-template-areas: "img1 img1" "img2 img3"; }
              header .header--search__box .box--cat__item > span .group--image figure {
                overflow: hidden;
                margin: 0; }
                header .header--search__box .box--cat__item > span .group--image figure img {
                  width: 100%;
                  height: 100%; }
              header .header--search__box .box--cat__item > span .group--image .i-1 {
                grid-area: img1; }
              header .header--search__box .box--cat__item > span .group--image .i-2 {
                grid-area: img2; }
              header .header--search__box .box--cat__item > span .group--image .i-3 {
                grid-area: img3; }
            header .header--search__box .box--cat__item > span .group--text {
              width: calc(100% - 70px);
              padding-left: 15px; }
              header .header--search__box .box--cat__item > span .group--text__title {
                width: 100%;
                overflow: hidden;
                max-width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 16px !important;
                color: #2c343e !important;
                display: block; }
              header .header--search__box .box--cat__item > span .group--text span {
                font-size: 14px;
                color: #7f7f7f;
                letter-spacing: -.015em; }
        header .header--search__box .box--cat .box-grid > span {
          cursor: pointer; }
          @media screen and (min-width: 901px) {
            header .header--search__box .box--cat .box-grid > span {
              max-width: calc((100% / 4) - 15px); } }
          header .header--search__box .box--cat .box-grid > span:hover .group--image {
            filter: brightness(0.5); }
    header .header--menu ul {
      display: flex;
      align-items: center;
      margin-right: 15px;
      margin-bottom: 0;
      padding-left: 0; }
      header .header--menu ul li {
        list-style: none;
        position: relative;
        cursor: pointer;
        transition: all .3s; }
        header .header--menu ul li a {
          font-weight: 500;
          color: #4a4a4a;
          font-size: 1rem;
          margin-right: 15px;
          text-decoration: none; }
        header .header--menu ul li:hover .submenu {
          display: block; }
        header .header--menu ul li .submenu {
          position: absolute;
          overflow: auto;
          min-width: 170px;
          max-height: max-content;
          width: max-content;
          cursor: default;
          border: solid 1px rgba(255, 255, 255, 0.2);
          border-radius: 10px;
          background: #fff;
          box-shadow: 0 13px 26px #00000014;
          text-shadow: none;
          right: -10px;
          top: 100%;
          padding: 8px 0;
          display: none; }
          header .header--menu ul li .submenu ul {
            display: block;
            margin-right: 0;
            border-bottom: solid 1px #dfdfe0; }
            header .header--menu ul li .submenu ul:last-of-type {
              border-bottom: none; }
            header .header--menu ul li .submenu ul li {
              display: flex;
              transition: all 0.3s;
              align-items: center;
              justify-content: flex-start; }
              header .header--menu ul li .submenu ul li img {
                width: 20px;
                object-fit: contain;
                border-radius: 5px; }
              header .header--menu ul li .submenu ul li a {
                padding: 8px 8px 8px 20px;
                margin-right: 0;
                display: block;
                font-size: 12px; }
              header .header--menu ul li .submenu ul li:hover {
                background: #f7f7f7; }
                header .header--menu ul li .submenu ul li:hover img {
                  filter: brightness(0.7); }
    header .header--menu__button {
      color: #fff;
      background: #05a081;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      position: relative;
      width: -moz-max-content;
      width: max-content;
      max-width: 100%;
      height: 50px;
      cursor: pointer;
      transition: background-color .1s, border ease-in-out, transform .1s, box-shadow 5ms, border-color .25s;
      vertical-align: top;
      white-space: nowrap;
      letter-spacing: -.015em;
      border: 1px solid;
      border-radius: 6px;
      outline: none;
      display: flex;
      align-items: center;
      padding: 20px;
      justify-content: center; }
    header .header .mb ul .la-bars, header .header .mb ul .la-times {
      font-size: 30px; }
    header .header .mb .submenu {
      display: block;
      width: 100vw;
      position: fixed;
      left: 0;
      top: -100vh;
      border-radius: 0;
      height: 100vh;
      overflow-y: scroll; }

.popup--flag {
  z-index: 999;
  max-width: 600px;
  position: fixed;
  margin: 20px 0;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: none; }
  .popup--flag > div {
    background: #fff;
    border-radius: 10px;
    padding: 3.6rem; }
  .popup--flag h4 {
    font-weight: 600;
    font-size: 21px;
    line-height: 33px;
    letter-spacing: -.015em;
    padding-bottom: 1rem; }
  .popup--flag__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .popup--flag__list a {
      color: #000;
      background: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      position: relative;
      z-index: 0;
      box-sizing: border-box;
      width: -moz-max-content;
      width: max-content;
      max-width: 100%;
      height: 50px;
      cursor: pointer;
      transition: background-color .1s, border ease-in-out, transform .1s, box-shadow 5ms, border-color .25s;
      vertical-align: top;
      white-space: nowrap;
      text-decoration: none;
      letter-spacing: -.015em;
      border: 1px solid #dfdfe0;
      border-radius: 6px;
      padding: 0 30px 0 8px;
      outline: none;
      background: 0 0;
      margin: 0 8px 8px 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      .popup--flag__list a:hover {
        color: #000;
        border-color: #7f7f7f; }
      .popup--flag__list a img {
        overflow: hidden;
        width: 34px;
        min-width: 34px;
        height: 34px;
        min-height: 34px;
        margin-right: 8px;
        border-radius: 50%;
        background: #bfbfbf; }
    .popup--flag__list .active {
      color: #bfbfbf;
      border-color: #f7f7f7;
      background: #f7f7f7;
      cursor: no-drop; }

.cat {
  padding: 8px 0;
  margin: 15px 0; }
  .cat a {
    color: #000;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    z-index: 0;
    box-sizing: border-box;
    width: max-content;
    max-width: 100%;
    height: 50px;
    padding: 0 30px;
    cursor: pointer;
    transition: background-color .1s, border ease-in-out, transform .1s, box-shadow 5ms, border-color .25s;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: -.015em;
    border: 1px solid #dfdfe0;
    border-radius: 6px;
    outline: none;
    background: 0 0;
    margin-right: 8px;
    display: flex !important;
    align-items: center;
    justify-content: center; }
    .cat a:hover {
      color: #000;
      border-color: #ffc864;
      background-color: #ffc864; }

.content {
  margin-top: 95px;
  overflow: hidden; }
  .content--top__main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media screen and (max-width: 900px) {
      .content--top__main {
        flex-direction: column; } }
    .content--top__main--tab {
      width: calc(90% - 8px); }
      @media screen and (max-width: 900px) {
        .content--top__main--tab {
          width: 100%; } }
      .content--top__main--tab .list-tab a {
        color: #4a4a4a;
        transition: color .25s ease;
        text-decoration: none;
        font-size: 16px;
        padding: 0 10px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media screen and (max-width: 650px) {
          .content--top__main--tab .list-tab a {
            height: 40px; } }
        .content--top__main--tab .list-tab a span {
          font-size: 1rem;
          display: inline-block;
          margin-bottom: -1px;
          margin-left: 8px;
          color: #bfbfbf; }
      .content--top__main--tab .list-tab a.active {
        padding: 0 20px;
        color: #fff;
        border: 1px solid transparent;
        background: #000;
        border-radius: 30px; }
    .content--top__main--filter {
      width: 10%;
      text-align: right; }
      @media screen and (max-width: 900px) {
        .content--top__main--filter {
          width: 100%;
          margin-top: 20px; } }
      .content--top__main--filter button {
        color: #4a4a4a;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding: 1px 20px; }
        @media screen and (max-width: 900px) {
          .content--top__main--filter button {
            width: 100%; } }
        .content--top__main--filter button svg {
          margin-right: 10px; }
    .content--top__main .form--filter {
      width: 100%;
      margin-top: 30px;
      display: none; }
      .content--top__main .form--filter__item {
        position: relative; }
        .content--top__main .form--filter__item button {
          width: 100%;
          font-size: 16px;
          font-weight: 600;
          line-height: 1;
          z-index: 0;
          height: 50px;
          cursor: pointer;
          transition: background-color .1s, border ease-in-out, transform .1s, box-shadow 5ms, border-color .25s;
          vertical-align: top;
          white-space: nowrap;
          text-decoration: none;
          letter-spacing: -.015em;
          border: 1px solid;
          border-radius: 6px;
          outline: none;
          background: 0 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px; }
        .content--top__main .form--filter__item .dropdown {
          position: absolute;
          margin-top: 10px;
          z-index: 9;
          display: none;
          overflow: auto;
          min-width: 300px;
          width: 100%;
          max-height: 50vh;
          border: 1px solid #dfdfe0;
          border-radius: 6px;
          background: #fff;
          box-shadow: 0 3px 5px 1px #0000000C;
          padding: 0; }
          .content--top__main .form--filter__item .dropdown li {
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            cursor: pointer;
            text-align: left;
            white-space: nowrap;
            color: #4a4a4a;
            background: #fff;
            transition: linear 1s;
            padding: 0 20px;
            position: relative; }
            .content--top__main .form--filter__item .dropdown li::after {
              position: absolute;
              content: "";
              width: 95%;
              height: 1px;
              background: #f7f7f7;
              left: 2.5%;
              bottom: 0; }
            .content--top__main .form--filter__item .dropdown li:hover {
              background: #bfbfbf; }
  .content--bottom {
    margin-top: 30px;
    position: relative; }
    .content--bottom .are-images-unloaded {
      opacity: 1; }
    .content--bottom .grid__item, .content--bottom .grid__col-sizer {
      width: 32%; }
      @media screen and (max-width: 901px) {
        .content--bottom .grid__item, .content--bottom .grid__col-sizer {
          width: 49%; } }
    .content--bottom .grid__gutter-sizer {
      width: 2%; }
    .content--bottom .are-images-unloaded .image-grid__item {
      opacity: 0; }
    .content--bottom .grid__item {
      margin-bottom: 20px;
      float: left;
      cursor: pointer;
      position: relative; }
      @media screen and (max-width: 901px) {
        .content--bottom .grid__item {
          margin-bottom: 10px; } }
      .content--bottom .grid__item:hover::after {
        content: "";
        background: #0000003b;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0; }
      .content--bottom .grid__item:hover .group--button {
        display: flex; }
      .content--bottom .grid__item img {
        display: block;
        width: 100%;
        transition: all .3s; }
      .content--bottom .grid__item .group--button {
        transition: all .3s;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        flex-direction: column;
        justify-content: space-between; }
        .content--bottom .grid__item .group--button > div > span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          pointer-events: all;
          border: 0;
          border-radius: 10px;
          float: left;
          margin-left: 10px;
          background: #fff; }
        .content--bottom .grid__item .group--button__top {
          display: flex;
          align-items: center;
          justify-content: end;
          padding: 15px 15px 0 0; }
        .content--bottom .grid__item .group--button__bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px;
          position: absolute;
          bottom: 0;
          width: 100%; }
          .content--bottom .grid__item .group--button__bottom .info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative; }
            .content--bottom .grid__item .group--button__bottom .info:hover .info--popup {
              display: block; }
            .content--bottom .grid__item .group--button__bottom .info img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 8px; }
            .content--bottom .grid__item .group--button__bottom .info span {
              font-weight: 700;
              font-size: 16px;
              color: #fff; }
            .content--bottom .grid__item .group--button__bottom .info .triangle {
              margin-top: -3px;
              top: 100%;
              transform: scaleY(-1);
              left: 20px;
              right: auto;
              border-right: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-style: solid;
              border-width: 10px 10px 15px 15px;
              height: 0;
              width: 0;
              color: #fff; }
            .content--bottom .grid__item .group--button__bottom .info--popup {
              position: absolute;
              z-index: 0;
              top: 100%;
              right: 0;
              bottom: 100%;
              left: 30px;
              transform: scale(1.1);
              width: fit-content;
              display: none;
              transition: all .3s;
              height: 100%; }
              @media screen and (max-width: 650px) {
                .content--bottom .grid__item .group--button__bottom .info--popup {
                  width: calc(100vw - 30px);
                  left: 15px; } }
              .content--bottom .grid__item .group--button__bottom .info--popup__content {
                margin-left: -20px;
                margin-top: -10px;
                padding: 15px;
                background: #fff;
                z-index: 0;
                overflow: auto;
                min-width: 170px;
                max-height: calc(100vh - 80px);
                cursor: default;
                border: 1px solid #dfdfe0;
                border-radius: 10px;
                box-shadow: 0 13px 26px #00000014;
                text-shadow: none; }
                @media screen and (max-width: 650px) {
                  .content--bottom .grid__item .group--button__bottom .info--popup__content {
                    width: 100%; } }
                .content--bottom .grid__item .group--button__bottom .info--popup__content .top .flex-between-center > div:first-of-type {
                  width: 75%; }
                  .content--bottom .grid__item .group--button__bottom .info--popup__content .top .flex-between-center > div:first-of-type .text {
                    text-decoration: none;
                    overflow: hidden; }
                    .content--bottom .grid__item .group--button__bottom .info--popup__content .top .flex-between-center > div:first-of-type .text h4 {
                      color: #4a4a4a;
                      margin-bottom: 0; }
                    .content--bottom .grid__item .group--button__bottom .info--popup__content .top .flex-between-center > div:first-of-type .text p {
                      display: block;
                      display: -webkit-box;
                      max-width: 100%;
                      height: 20px;
                      margin: 0 auto;
                      font-size: 12px;
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                      text-overflow: ellipsis; }
                .content--bottom .grid__item .group--button__bottom .info--popup__content .top .flex-between-center > div:last-of-type {
                  width: 25%; }
                  .content--bottom .grid__item .group--button__bottom .info--popup__content .top .flex-between-center > div:last-of-type button {
                    width: 100%;
                    height: 50px; }
                    .content--bottom .grid__item .group--button__bottom .info--popup__content .top .flex-between-center > div:last-of-type button span {
                      color: #4a4a4a;
                      padding-left: 5px; }
                .content--bottom .grid__item .group--button__bottom .info--popup__content .bottom {
                  margin-top: 15px; }
                  .content--bottom .grid__item .group--button__bottom .info--popup__content .bottom figure {
                    width: 32%;
                    height: 90px;
                    transition: all .2s; }
                    .content--bottom .grid__item .group--button__bottom .info--popup__content .bottom figure:hover {
                      filter: brightness(0.5); }
                    .content--bottom .grid__item .group--button__bottom .info--popup__content .bottom figure img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      border-radius: 0; }
    .content--bottom .page-load-status {
      display: none;
      padding-top: 20px;
      border-top: 1px solid #DDD;
      text-align: center;
      color: #777; }

.popup--detail {
  z-index: 100; }
  .popup--detail__content {
    position: relative;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: calc(100vw - 300px);
    margin: 20px auto;
    padding: 30px;
    z-index: 19; }
    @media screen and (max-width: 900px) {
      .popup--detail__content {
        max-width: calc(100vw - 135px); } }
    @media screen and (max-width: 650px) {
      .popup--detail__content {
        max-width: 100%;
        padding: 15px;
        margin-top: 50px; } }
    .popup--detail__content .slide-arrow {
      width: 50px;
      height: 50px;
      top: 50vh;
      background: none; }
      .popup--detail__content .slide-arrow i {
        color: #ffffff;
        font-size: 36px; }
    .popup--detail__content .prev-arrow {
      left: -100px; }
      @media screen and (max-width: 650px) {
        .popup--detail__content .prev-arrow {
          left: 0; } }
    .popup--detail__content .next-arrow {
      right: -100px; }
      @media screen and (max-width: 650px) {
        .popup--detail__content .next-arrow {
          right: 0; } }
    .popup--detail__content .btn {
      height: 50px;
      margin-left: 8px; }
    .popup--detail__content .b-top .avatar {
      width: max-content; }
      .popup--detail__content .b-top .avatar figure {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0; }
        .popup--detail__content .b-top .avatar figure img {
          width: 100%;
          height: 100%; }
      .popup--detail__content .b-top .avatar--text {
        padding: 0 15px; }
        .popup--detail__content .b-top .avatar--text p {
          color: #2c343e;
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
          margin-bottom: 0; }
        .popup--detail__content .b-top .avatar--text a {
          color: #7f7f7f;
          font-weight: 600;
          font-size: 16px;
          text-decoration: none; }
    .popup--detail__content .b-top .group--btn {
      width: 100%;
      text-align: right; }
      @media screen and (max-width: 900px) {
        .popup--detail__content .b-top .group--btn {
          display: flex;
          align-items: center;
          justify-content: space-between; } }
      .popup--detail__content .b-top .group--btn .download {
        height: 50px;
        margin-left: 8px;
        color: #fff;
        width: max-content;
        background: #05a081;
        cursor: pointer;
        transition: background-color 0.1s, border ease-in-out, transform 0.1s, box-shadow 5ms, border-color 0.25s;
        vertical-align: top;
        white-space: nowrap;
        text-decoration: none;
        letter-spacing: -0.015em;
        border: 1px solid #dfdfe0;
        border-radius: 6px;
        outline: none; }
        .popup--detail__content .b-top .group--btn .download span {
          border-color: #05a081;
          background: #05a081;
          padding: 0.75rem 0.375rem;
          color: #fff;
          height: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 6px;
          transition: background-color 0.1s, border ease-in-out, transform 0.1s; }
          .popup--detail__content .b-top .group--btn .download span:hover {
            background: #067f66; }
          .popup--detail__content .b-top .group--btn .download span i {
            color: #fff; }
      @media screen and (max-width: 900px) {
        .popup--detail__content .b-top .group--btn .btn {
          min-width: 50px;
          margin-left: 0;
          margin-right: 8px; } }
      @media screen and (max-width: 900px) {
        .popup--detail__content .b-top .group--btn .btn span:last-of-type {
          display: none;
          width: 50px; } }
    .popup--detail__content .b-main {
      text-align: center;
      margin: 2rem 0; }
      .popup--detail__content .b-main figure {
        max-width: 100%;
        width: fit-content;
        position: relative;
        margin: 0 auto; }
        .popup--detail__content .b-main figure img {
          max-width: 100%;
          object-fit: contain;
          width: auto; }
      .popup--detail__content .b-main .pinterest {
        position: absolute;
        border: none;
        top: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
        padding: 8px;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 4px 10px 2px #00000019; }
        .popup--detail__content .b-main .pinterest i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          color: #e60023; }
    @media screen and (max-width: 650px) {
      .popup--detail__content .b-bottom .btn {
        height: auto; } }
    .popup--detail__content .b-bottom p {
      margin-bottom: 0; }
      @media screen and (max-width: 650px) {
        .popup--detail__content .b-bottom p {
          width: 100%;
          word-break: keep-all;
          height: 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; } }
      .popup--detail__content .b-bottom p i {
        margin-right: 0; }
    .popup--detail__content .b-bottom a {
      text-decoration: none; }
      @media screen and (max-width: 650px) {
        .popup--detail__content .b-bottom a span {
          display: none; } }
      .popup--detail__content .b-bottom a i {
        margin-right: 0; }
        @media screen and (max-width: 650px) {
          .popup--detail__content .b-bottom a i {
            padding-right: 0; } }
    .popup--detail__content .b-more {
      margin-top: 30px;
      /* hide by default */ }
      .popup--detail__content .b-more .grid2.are-images-unloaded2 {
        opacity: 0; }
      .popup--detail__content .b-more .grid__item,
      .popup--detail__content .b-more .grid__col-sizer2 {
        width: 32%; }
      .popup--detail__content .b-more .grid__gutter-sizer2 {
        width: 2%; }
      .popup--detail__content .b-more .grid2.are-images-unloaded2 .image-grid__item {
        opacity: 0; }
      .popup--detail__content .b-more .grid__item {
        margin-bottom: 20px;
        float: left; }
      .popup--detail__content .b-more .grid__item img {
        display: block;
        max-width: 100%; }
      .popup--detail__content .b-more .page-load-status2 {
        display: none;
        padding-top: 20px;
        border-top: 1px solid #DDD;
        text-align: center;
        color: #777; }
      .popup--detail__content .b-more .content {
        margin-top: 0;
        overflow: hidden; }
        .popup--detail__content .b-more .content .slide-arrow {
          border: none;
          background: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0));
          position: absolute;
          width: 25px;
          height: 100%;
          z-index: 9;
          top: 0; }
        .popup--detail__content .b-more .content .prev-arrow {
          left: 0; }
        .popup--detail__content .b-more .content .next-arrow {
          right: 0; }
  .popup--detail__close {
    position: absolute;
    top: 0;
    right: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    @media screen and (max-width: 650px) {
      .popup--detail__close {
        top: -50px;
        left: 0; } }
    .popup--detail__close span i {
      font-size: 26px;
      color: #fff; }

.popup--collect {
  z-index: 101;
  padding: 7.5px; }
  .popup--collect__content {
    position: relative;
    top: 0;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    max-width: 600px;
    padding: 30px;
    margin: 8px auto;
    text-align: center; }
    .popup--collect__content h2 {
      font-size: 2.2rem; }
    .popup--collect__content p a {
      border-bottom: 2px dotted #c7c7c7;
      color: #c7c7c7;
      text-decoration: none; }
    .popup--collect__content .album {
      cursor: pointer; }
      .popup--collect__content .album--image {
        background: #f7f7f7;
        position: relative;
        cursor: pointer;
        border-radius: 10px;
        overflow: hidden; }
        .popup--collect__content .album--image:hover i {
          display: block;
          z-index: 1;
          color: #fff;
          border-color: #fff; }
        .popup--collect__content .album--image:hover img {
          transform: scale(1.1);
          filter: brightness(0.5); }
        .popup--collect__content .album--image i {
          position: absolute;
          font-size: 25px;
          color: #7f7f7f;
          border: solid 2px #7f7f7f;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          display: none;
          transform: translate(-50%, -50%);
          transition: all .3s; }
        .popup--collect__content .album--image img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
          transition: all .5s; }
      .popup--collect__content .album p {
        margin-top: 8px;
        font-size: 15px;
        color: #4a4a4a;
        font-weight: 500;
        height: fit-content;
        display: -webkit-box;
        line-height: 1;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; }
    .popup--collect__content .album.create i {
      display: block; }
  .popup--collect__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
    .popup--collect__close i {
      color: #bfbfbf;
      font-size: 25px; }

footer {
  padding: 80px 30px 30px;
  background: #000;
  color: #fff; }
  @media screen and (max-width: 769px) {
    footer {
      padding: 30px 15px; } }
  footer h2 {
    margin-bottom: 15px;
    font-size: 23px;
    letter-spacing: -.015em;
    font-weight: 500;
    color: #fff; }
  footer p {
    font-size: 16px;
    color: #bfbfbf;
    margin-bottom: 0; }
  footer ul {
    padding-left: 0; }
    footer ul li {
      list-style: none; }
      footer ul li a {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        font-size: 21px;
        letter-spacing: -.015em;
        cursor: pointer;
        transition: all .3s; }
        footer ul li a:hover {
          opacity: .8; }
  footer .group--app {
    margin-top: 1rem; }
    footer .group--app .btn {
      padding: 1rem 1.7rem;
      background: #fff;
      border: solid 1px #dfdfe0;
      margin: 0 5px; }
      footer .group--app .btn i {
        font-size: 18px; }
  footer .social {
    margin-top: 15px; }
    footer .social a {
      display: inline-block;
      margin: 0 5px; }
      footer .social a i {
        font-size: 27px;
        color: #fff; }
  footer .group--cate {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    footer .group--cate a {
      transition: filter .25s ease;
      cursor: pointer;
      margin: 0 8px 8px 0;
      display: inline-block;
      padding: 8px 15px;
      border: 1px solid #dfdfe0;
      border-radius: 6px;
      color: #dfdfe0; }
      footer .group--cate a:hover {
        background: #dfdfe0;
        color: #000; }
  footer .footer--bottom {
    margin-top: 80px;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 769px) {
      footer .footer--bottom {
        margin-top: 40px; } }
    footer .footer--bottom .btn {
      font-size: 18px;
      height: 40px;
      padding: 8px 15px;
      color: #fff;
      background: #7f7f7f;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 auto;
      border: none; }
      @media screen and (max-width: 769px) {
        footer .footer--bottom .btn {
          margin: 10px auto; } }
      footer .footer--bottom .btn i {
        font-size: 28px;
        color: #fff;
        margin-right: 5px; }
    footer .footer--bottom a {
      color: #bfbfbf;
      text-decoration: none;
      display: inline-flex;
      margin: 0 8px; }

/*# sourceMappingURL=main.css.map */
