* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #4a4a4a;
  font-size: 14px;

  @media screen and (max-width: 650px) {
    font-size: 100%;
  }
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}


//reset container
.container {
  margin: 0 auto;
  max-width: 900px;
  @media screen and (min-width: 1440px) {
    max-width: 1600px;
    padding-right: 30px;
    padding-left: 30px;
  }
  @media screen and (min-width: 901px) {
    max-width: 1300px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.content {
  .container {
    @media screen and (min-width: 1440px) {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 98;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, .9);
  display: none;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  cursor: pointer;
  transition: background-color .1s, border ease-in-out, transform .1s, box-shadow 5ms, border-color .25s;
  vertical-align: top;
  text-decoration: none;
  letter-spacing: -.015em;
  border: 1px solid #dfdfe0;
  border-radius: 6px;
  outline: none;

  &:hover {
    border: 1px solid #4a4a4a;
  }
}

.pr-1 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 0.5rem
}

.h-100 {
  height: 100%;
}

.slide-arrow {
  border: none;
  background: linear-gradient(90deg, #fff 0, hsla(0, 0%, 100%, 0));
  position: absolute;
  width: 25px;
  height: 100%;
  z-index: 9;
  top: 0;
}

.prev-arrow {
  left: 0;
}

.next-arrow {
  right: 0;
}

.close {
  display: none;
}

.open-menu-mb {
  top: 70px !important;
}

.check-menu-mb {
  background: #000;

  .header {
    .bars-mb {
      .submenu {
        background: #000;

        ul {
          border-bottom: solid 1px hsla(0, 0%, 100%, .2);

          li {
            a {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

.select {
  background: #ededed;
}

.mb {
  @media screen and (min-width: 901px) {
    display: none;
  }
}

.pc {
  display: none;
  @media screen and (min-width: 901px) {
    display: block;
  }
}


.flex-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-end-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-mb {
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.align-start-mb {
  @media screen and (max-width: 650px) {
    align-items: start;
  }
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #7f7f7f;
  display: block;
  margin: 0 5px;
}

.text-gray-small {
  font-size: 14px;
  color: #7f7f7f;
  font-weight: bolder;
  margin-right: 15px;
  display: inline-block;
}

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.popup--container {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, .9);

  //&::-webkit-scrollbar {
  //  width: 0;
  //  background-color: #F5F5F5;
  //}
}

.page-load-status, .page-load-status2 {
  .loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
  }

  .loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }

  .loader-ellips__dot:nth-child(1),
  .loader-ellips__dot:nth-child(2) {
    left: 0;
  }

  .loader-ellips__dot:nth-child(3) {
    left: 1.5em;
  }

  .loader-ellips__dot:nth-child(4) {
    left: 3em;
  }

  @keyframes reveal {
    from {
      transform: scale(0.001);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes slide {
    to {
      transform: translateX(1.5em)
    }
  }

  .loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
  }

  .loader-ellips__dot:nth-child(2),
  .loader-ellips__dot:nth-child(3) {
    animation-name: slide;
  }

  .loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
  }

}